body,html{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
/* Small devices (phones and pocket devices, 576 and up) */
/* Moved ending brace so that all changes happened on devices 576px and up */
@media screen and (max-width:576px) {
    .alert-info {
        height: 25px;
        background-color: lightblue;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid lightgrey;
    }
    .alert-info a{
        text-decoration: none;
        color: black;
        /*font-family: sans-serif;*/
    }
    div a {
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    .nav-links {

        list-style-type: none;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    li a:link {
        background-color: lightgrey;
        font-size: 20px;
    }

    ul li {
        padding-top: 1em;
        padding-bottom: 1em;
        position: relative;
        font-family: "Comic Sans MS", sans-serif;
        width: 100%;
        background: lightgray;
    }
    /*  cited_source: https://www.w3schools.com/css/css_rwd_images.asp  */
    .header-img img{
        width: 100%;
        height: auto;
    }
}
/*!* Medium devices (tablets, 768px and up) *!*/
/*@media screen and (min-width:768px) { !* ... *! }*/

/*!* Large devices (desktops, 992px and up) *!*/
/*@media screen and (min-width:992px) { !* ... *! }*/

/*!* Extra large devices (large desktops, 1200px and up) *!*/
/*@media screen and (min-width:1200px) { !* ... *! }*/